# macOS
.DS_Store

# Xcode
*.xcuserstate
*.xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build
build/
DerivedData/

# Xcode temporary files
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# App Store Connect
*.mobileprovision
*.p12

# Logs
*.log

# User-specific Xcode files
xcuserdata/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Secrets / environment
.env
.env.*

# Firebase (si usas)
GoogleService-Info.plist
